h1{
	font-family:Verdana;
	color:#9be5dc;
	background-color:#ffd3b6;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

p{
	font-family:Verdana;
	line-height:1em;
	text-indent:30px;
	margin-bottom:40px;
	margin-left:auto;
	margin-right:auto;
}

h3{font-family:Calibri;
	color:#715ec1;
	margin-left:auto;
	margin-right:auto;
}
